// 右侧：任务选择区
.right-container {
  height: calc(100vh - 33px);
  width: 100%;
  background-color: #262c2f;

  // 将panel的标题文字改成白色
  .ant-collapse-header {
    color: #fff !important;
  }

  // 将panel的内容文字改成白色
  .ant-collapse-content {
    text-align: center;
    color: #fff;
  }

  // 标注框列表
  .label-type-list {}
}