* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 解决问题:使用antd的Modal时,背景出现多余的滚动条 */
body {
  overflow: hidden;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
